node_modules
.git
.npmrc
.turbo
scratch
antigos
apps/*/dist
apps/*/node_modules
packages/*/dist
packages/*/node_modules
dist-prod
*.tar
.env
.env.*
apps/*/.env
apps/*/.env.*
!*.env.example
!apps/*/.env.example
off-line_install
desnecessarios
Manual/obsoletos
*.tar.gz
